extends layout

block content
  h1 #{title} - Information Radiator Manager
  img(src='/images/star.jpg')
  hr
  p A tool for managing and administering the numerous information radiators by team or product to be displayed on monitors at Fuse. This tool will include a plugin framework for creation of new radiator modules.
